.formContainer{
  width: 50%;
 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
background-color: aliceblue;
padding: 20px;
border: 1px solid rgb(69, 68, 68);
border-radius: 5px;
}
.gender{
  display: flex;
 margin: 5px 10px;
}
#flexRadioDefault1{
  
}